$primary-color: #4CAF4F;
$background: #f5f5f5;
$grey-color: #717171;

body {
  margin: 0 auto;
  padding: 2vh;
  font-family: 'Inter', sans-serif;
  max-width: 1200px;
}

.header {
  &__nav {
    display: flex;
    justify-content: space-between;

    .nav {
      &__logo {
        flex: 1;
      }

      &__list {
        display: flex;
        justify-content: space-between;
        flex: 2;

        .list {
          &__item {
            list-style: none;

            .item {
              &__link {
                text-decoration: none;
                color: black;
              }
            }
          }
        }
      }

      &__login-container {
        flex: 1;

        .login-container {
          &__link {
            text-decoration: none;
            color: black;

            .link {

              &--login {
                color: $primary-color;
              }

              &--signup {
                display: block;
                color: white;
                background-color: $primary-color;
              }
            }

          }
        }
      }
    }
  }
}